article {
  padding: .5em 2.5em 1em;
  background: rgba(white, 0.5);
  margin: 1em -2.5em;
  //@include box-shadow(0 0 20px rgba(black, 0.2));
  @include text-shadow(0 1px 1px #fff);
  border-top:5px solid #901;
  
  p.quote {
    text-indent: -.25em;
  }
}