/* =IE 7 and 8
----------------------------------------------- */

.ie .skip-link,
.ie .screen-reader-text,
.ie .assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE7 */
}
.ie .site {
	margin: 48px auto;
	max-width: 960px;
}
.ie .site-content {
	float: left;
	width: 65.104166667%;
}
.ie .full-width .site-content {
	float: none;
	width: 100%;
}
.ie .widget-area {
	float: right;
	width: 26.041666667%;
}
.ie img.size-full,
.ie img.size-large,
.ie img.header-image,
.ie img.wp-post-image {
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
}